<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MicroMiner Microservice Generator</title>
    <link rel="stylesheet" href='/static/style.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
</head>

<body style="height: 100vh;">
    <div id="modal">
        <div id="modal-content">
            <div id="spinner"></div>
            <p id="modal-message">Generating Results, Please Wait...</p>
        </div>
    </div>
    <div>
        <header>
            <h1>MicroMiner</h1>
            <h2>Tool for Microservice Generation!</h2>
        </header>
        <form id="main_form">
            <label for="repo_url">GitHub URL to monolith (public repository only):</label>
            <input type="text" id="repo_url" name="repo_url" required>
            <br>
            <!-- File Selector for Call Graph -->
            <label for="call_graph_file">Choose a call graph file:</label>
            <input type="file" id="call_graph_file" name="call_graph_file" accept=".csv" required>
            <br>
        </form>
        <button type="submit" id="genms" onmouseup="start()">Generate Microservices</button>

    </div>

    <main>
        <form id="optionnal_params">
            <!-- Phase 1 Model Dropdown -->
            <h5>Phase 1: Class typing</h5>

            <label for="phase1_model_llm">LLM (semantic code analysis):</label>
            <select id="phase1_model_llm" name="phase1_model_llm">
                <option value="ft_codebert">FT Codebert</option>
                <option value="word2vec">Word2Vec</option>
                <option value="albert">Albert</option>
                <option value="codebert">Codebert</option>
                <option value="roberta">Roberta</option>
                <option value="bert">Bert</option>
            </select>

            <!-- Phase 1 Model Dropdown -->
            <label for="phase1_model_ml">ML model:</label>
            <select id="phase1_model_ml" name="phase1_model_ml">
                <option value="svm">SVM</option>
                <option value="knn">KNN</option>
                <option value="decision_tree">Decision Tree</option>
                <option value="logistic_regression">Logistic Regression</option>
                <option value="naive_bayes">Naive Bayes</option>
                <option value="ensemble">Ensemble</option>
            </select>

            <br>

            <h5>Phase 2: Typed Service Identification</h5>
            <!-- Phase 2 Model Dropdown -->
            <label for="phase2_model">Clustering algorithm:</label>
            <select id="phase2_model" name="phase2_model">
                <option value="Louvain">Louvain</option>
                <option value="Infomap">Infomap</option>
                <option value="LabelPropagation">Label Propagation</option>
                <option value="FastGreedy">Fast Greedy</option>
                <option value="GirvanNewman">Girvan Newman</option>
                <option value="Leiden">Leiden</option>
                <option value="Walktrap">Walktrap</option>
            </select>
            <br>

            <h5>Phase 3: Microservice Generation</h5>
            <!-- Phase 3 Model Dropdown -->
            <!-- Optional Number of Microservices Parameter -->
            <label for="num_microservices">Number of Microservices:</label>
            <input type="number" id="num_microservices" name="num_microservices" min="1" placeholder="Automatic">
            <label for="phase3_model">Clustering algorithm:</label>
            <select id="phase3_model" name="phase3_model">
                <option value="cmeans">C-Means</option>
                <option value="custom_cmeans">Custom C-Means</option>
                <option value="hierarchical">Hierarchical</option>
            </select>
        </form>
    </main>
<!-- Separate script tag for custom JavaScript -->
<script>
    function start() {
    // Get data from the form
    var repo_url = document.getElementById('repo_url').value;
    var call_graph_file = document.getElementById('call_graph_file').files[0];
    var phase1_model_llm = document.getElementById('phase1_model_llm').value;
    var phase1_model_ml = document.getElementById('phase1_model_ml').value;
    var phase2_model = document.getElementById('phase2_model').value;
    var num_microservices = document.getElementById('num_microservices').value;
    var phase3_model = document.getElementById('phase3_model').value;

    // Create form data
    var formData = new FormData();
    formData.append('repo_url', repo_url);
    formData.append('call_graph_file', call_graph_file);
    formData.append('phase1_model_llm', phase1_model_llm);
    formData.append('phase1_model_ml', phase1_model_ml);
    formData.append('phase2_model', phase2_model);
    formData.append('num_microservices', num_microservices);
    formData.append('phase3_model', phase3_model);

    // Make the POST request
    fetch('/pipeline', {
        method: 'POST',
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        window.location.href = '/results?run_id=' + data.run_id;
    })
    .catch(error => {
        console.error('Error:', error);
    });

    // Display modal or perform other UI actions
    document.getElementById('modal').style.display = 'flex';
}

</script>
   
</body>

</html>
