<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MicroMiner Microservice Generator</title>
    <link rel="stylesheet" href='/static/style.css' />
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <main>
        <header>
            <h1>MicroMiner</h1>
            <h4>Tool for Microservice Generation!</h4>
        </header>
        
        <form id="cloneForm" onsubmit="submitForm(event)">
            <div class="left-column">
                <label for="repo_url">GitHub URL to monolith (public repository only):</label>
                <input type="text" id="repo_url" name="repo_url" required>
                
                <!-- File Selector for Call Graph -->
                <label for="call_graph_file">Call Graph File:</label>
                <input type="file" id="call_graph_file" name="call_graph_file" accept=".txt">
            </div>

            <div class="form-column">
                <!-- Phase 1 Model Dropdown -->
                <label for="phase1_model">Phase 1 Model:</label>
                <select id="phase1_model" name="phase1_model">
                    <option value="ft_codebert">FT Codebert</option>
                    <option value="word2vec">Word2Vec</option>
                    <option value="albert">Albert</option>
                    <option value="codebert">Codebert</option>
                    <option value="roberta">Roberta</option>
                    <option value="bert">Bert</option>
                </select>

                <!-- Phase 2 Model Dropdown -->
                <label for="phase2_model">Phase 2 Model:</label>
                <select id="phase2_model" name="phase2_model">
                    <option value="Louvain">Louvain</option>
                    <option value="Infomap">Infomap</option>
                    <option value="LabelPropagation">Label Propagation</option>
                    <option value="FastGreedy">Fast Greedy</option>
                    <option value="GirvanNewman">Girvan Newman</option>
                    <option value="Leiden">Leiden</option>
                    <option value="Walktrap">Walktrap</option>
                </select>

                <!-- Phase 3 Model Dropdown -->
                <label for="phase3_model">Phase 3 Model:</label>
                <select id="phase3_model" name="phase3_model">
                    <option value="cmeans">C-Means</option>
                    <option value="custom_cmeans">Custom C-Means</option>
                    <option value="hierarchical">Hierarchical</option>
                </select>

                <!-- Optional Number of Microservices Parameter -->
                <label for="num_microservices">Number of Microservices (Optional):</label>
                <input type="number" id="num_microservices" name="num_microservices" min="1">
            </div>

            <button type="submit">Generate Microservices</button>
        </form>
        <div id="spinner"></div>
        <p id="status"></p>
    </main>
    <script src="/static/client.js"></script>
</body>
</html>
